extends layout

block content
    div(class='main')
        div(class='upload-box')
            div(class='userInfo row')
                h3 你的唯一标识符 #{token}
                p.
                    你的图片将会被命名为 #{token}.jpg，新生成的图片会覆盖旧的图片
                p(class='warning').
                    ! 请注意保护自己的个人隐私，不要上传带有敏感信息的图片
            div(class='tip row')
                h3 使用说明
                ul
                    li 点击下面的&nbsp;
                        img(width='30', src='/images/icon/upload.svg')
                        span &nbsp;按钮，选择一张图片
                    li 然后盖个戳
                br
                h3 图像上传建议
                ul
                    li 图像尺寸大于300*300，因为小心奈她的印章有256*256那么大。<span class="line">你也不希望心奈的图章把你的画面全部覆盖吧。</u>
                    li 图像大小在20M之内。

            form(class='row' action='/download', method='post', enctype="multipart/form-data")
                input(
                    class='upload-button',
                    type='file',
                    name='background'
                )
                br
                input(
                    class='submit-button button'
                    type='submit',
                    value='让小心奈给你盖个戳捏 (^///^)'
                )

            div(class='row')
                img(src='/images/kokona.gif')